.pickadate {
  font-family: sans-serif;
}

.pickadate__header {
  position: relative;
}

.pickadate__main {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.pickadate__cell {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.pickadate__title {
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  margin: 13px 0 13px 0;
  line-height: normal;
}

.pickadate__day {
  @include user-select(none);
  display: block;
  float: left;
  border: 1px solid #DCDCDC;
  border-width: 0 1px 1px 0;
  width: 14.285%;
  padding: 1.3% 0 1.3% 0;
  line-height: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &.is-enabled {

  }

  &.is-disabled {
    cursor: pointer;
    opacity: 0.5;
  }

  &:nth-child(7n+0) {
    border-right: 1px solid #DCDCDC;
  }

  &:nth-child(1), &:nth-child(8), &:nth-child(15), &:nth-child(22), &:nth-child(29), &:nth-child(36) {
    border-left: 1px solid #DCDCDC;
  }
}

.pickadate__day--day-name {
  background-color: #f3f3f3;
}

.pickadate__day--start-date {

}

.pickadate__day--in-range {

}

.pickadate__day--end-date {

}

.pickadate-modal {
  position: absolute;
  background-color: #fff;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 5px 5px 5px;
  z-index: 1000;
}
